**Studentname :** Saartje Herman 

**Studentnumber :** s0192618

# Data Mining : Assignment 1

## Preproccessing Steps

Imports of all needed libraries

In [13]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.preprocessing import LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.naive_bayes import CategoricalNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [14]:
existing_customers = pd.read_excel('existing-customers.xlsx')

pd.DataFrame(existing_customers)

feature_cols = ['age', 'workclass', 'education', 'education-num','marital-status','occupation','relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']
X = existing_customers[feature_cols] # Features
pd.DataFrame(existing_customers)

c:\users\fried\appdata\local\programs\python\python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,RowID,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,Row0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Row1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Row2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Row3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,Row4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Row32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,Row32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,Row32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,Row32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,Row32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Encode target labels with value between 0 and n_classes-1

In [15]:
#preproccess data to convert categorical data to numerical data using ordinal encoder
# enc = preprocessing.OrdinalEncoder()
# enc.fit(X)
# X = enc.transform(X)

#using label encoder to convert categorical data to numerical data
X = X.apply(LabelEncoder().fit_transform)
pd.DataFrame(X)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,22,6,9,12,4,0,1,4,1,25,0,39,38
1,33,5,9,12,2,3,0,4,1,0,0,12,38
2,21,3,11,8,0,5,1,4,1,0,0,39,38
3,36,3,1,6,2,5,0,2,1,0,0,39,38
4,11,3,9,12,2,9,5,2,0,0,0,39,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,10,3,7,11,2,12,5,4,0,0,0,37,38
32557,23,3,11,8,2,6,0,4,1,0,0,39,38
32558,41,3,11,8,6,0,4,4,0,0,0,39,38
32559,5,3,11,8,4,0,3,4,1,0,0,19,38
32560,35,4,11,8,2,3,5,4,0,108,0,39,38

### Deal with missing values

In [16]:
#dealing with missing data by using imputation
# imp = SimpleImputer(missing_values=np.nan, strategy='mean')
# imp.fit(X)
# X = imp.transform(X)

#dealing with missing data by using iterative imputation
imp = IterativeImputer(max_iter=10, random_state=0)
imp.fit(X)
X = imp.transform(X)

### Split data into training and test set

In [17]:
#target variable
y = existing_customers['class'] # Target variable

#spit data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

## Classifiers

### Decision Tree Classifier

In [18]:
# Create Decision Tree classifier object
clf_dt = DecisionTreeClassifier(max_depth=10)
# Train Decision Tree Classifier
clf_dt = clf_dt.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = clf_dt.predict(X_test)
print("Accuracy Decision Tree:",metrics.accuracy_score(y_test, y_pred))

Accuracy Decision Tree: 0.858941549800389

### Naive Bayes Classifier

In [19]:
# # Create Catagorical Naive Bayes classifier object
clf_nb = CategoricalNB(force_alpha=True)
clf_nb = clf_nb.fit(X_train,y_train)
y_pred = clf_nb.predict(X_test)
print("Accuracy Naive Bayes:",metrics.accuracy_score(y_test, y_pred))

Accuracy Naive Bayes: 0.8370355205241069

### KNN Classifier

In [20]:
# Create KNN classifier object
clf_neigh = KNeighborsClassifier(n_neighbors=10)
clf_neigh = clf_neigh.fit(X_train,y_train)
y_pred = clf_neigh.predict(X_test)
print("Accuracy KNN:",metrics.accuracy_score(y_test, y_pred))

Accuracy KNN: 0.8370355205241069

### Random Forest Classifier

In [21]:
# Create Random Forest classifier object
clf_rf = RandomForestClassifier(max_depth=10)
clf_rf = clf_rf.fit(X_train,y_train)
y_pred = clf_rf.predict(X_test)
print("Accuracy Random Forest:",metrics.accuracy_score(y_test, y_pred))

Accuracy Random Forest: 0.8634455932029891

### Bagging Classifier using Decision Tree Classifier

In [22]:
# Create Bagging classifier object
clf_bag = BaggingClassifier(estimator=clf_dt, n_estimators=10).fit(X_train, y_train)
y_pred = clf_bag.predict(X_test)
print("Accuracy Bagging:",metrics.accuracy_score(y_test, y_pred))

Accuracy Bagging: 0.8643668748080663

### AdaBoosting Classifier with base estimator DecisionTreeClassifier initialized with max_depth=1

In [23]:
# Create AdaBoosting classifier object
clf_boost = AdaBoostClassifier(n_estimators=100).fit(X_train, y_train)
y_pred = clf_boost.predict(X_test)
print("Accuracy Boosting:",metrics.accuracy_score(y_test, y_pred))

Accuracy Boosting: 0.8680520012283754

### Gradient Boosting Classifier

In [30]:
# Create Gradient Boosting classifier object
clf_gr = GradientBoostingClassifier(n_estimators=100, learning_rate=0.950, max_depth=2).fit(X_train, y_train)
y_pred = clf_gr.predict(X_test)
print("Accuracy Bagging:",metrics.accuracy_score(y_test, y_pred))

Accuracy Bagging: 0.8770600880335756

### HistGradient Boosting Classifier

In [33]:
# Create HistGradient Boosting classifier object
clf_h_gr = HistGradientBoostingClassifier().fit(X_train, y_train)
y_pred = clf_h_gr.predict(X_test)
acc_boost = metrics.accuracy_score(y_test, y_pred)
print("Accuracy Bagging:",metrics.accuracy_score(y_test, y_pred))

Accuracy Bagging: 0.8773671819019347

## Predict 'class' label for potential customers

Since the HistGradient boosting classifier has the highest accurancy, I will use this classifier to predict the 'class' label of the potential customers

In [35]:
potential_customers = pd.read_excel('potential-customers.xlsx')

rowIds = potential_customers['RowID']
potential_customers = potential_customers[feature_cols]


#preproccess data to convert categorical data to numerical data using ordinal encoder
# enc = preprocessing.OrdinalEncoder()
# enc.fit(potential_customers)
le = LabelEncoder()
potential_customers = potential_customers.apply(le.fit_transform)

#dealing with missing data by using iterative imputation
imp = IterativeImputer(max_iter=10, random_state=0)
imp.fit(potential_customers)
potential_customers = imp.transform(potential_customers)

#Predict the income class for potential customers
potential_customers_predicted = clf_h_gr.predict(potential_customers)
probabilities = clf_h_gr.predict_proba(potential_customers)


highest_income = potential_customers_predicted[potential_customers_predicted == '>50K']
print("Number of potential customers with highest income:", len(highest_income))
lowest_income = potential_customers_predicted[potential_customers_predicted == '<=50K']
print("Number of potential customers with lowest income:", len(lowest_income))

Number of potential customers with highest income: 3198
Number of potential customers with lowest income: 13083

In [36]:
pd.DataFrame(potential_customers_predicted)

           0
0      <=50K
1      <=50K
2      <=50K
3       >50K
4      <=50K
...      ...
16276  <=50K
16277  <=50K
16278   >50K
16279  <=50K
16280   >50K

[16281 rows x 1 columns]

Column 0 : <=50K

Column 1 : >50K

In [37]:
pd.DataFrame(probabilities)

              0         1
0      0.997005  0.002995
1      0.751387  0.248613
2      0.681441  0.318559
3      0.194342  0.805658
4      0.999571  0.000429
...         ...       ...
16276  0.920443  0.079557
16277  0.964034  0.035966
16278  0.286367  0.713633
16279  0.842210  0.157790
16280  0.206834  0.793166

[16281 rows x 2 columns]

In [38]:
array_potential_customers = []

for i in range(len(potential_customers_predicted)):
    if potential_customers_predicted[i] == '<=50K':
        array_potential_customers.append({'prob': probabilities[i][0], 'id' : rowIds[i], 'label':potential_customers_predicted[i]})
    elif potential_customers_predicted[i] == '>50K':
        array_potential_customers.append({'prob': probabilities[i][1], 'id' : rowIds[i], 'label':potential_customers_predicted[i]})

## Revenue Calculations

### Best Case Revenue

#### Best Case : Expected Revenue : Approach 1

If we chose the people labeled with low income with the lowest probability estimates, there is still a chance that they actually have a high income. In the best case, the 5% of the people labeled low income, have all a high income.

In [39]:
profit_high = (int(len(highest_income) * 0.10) * (980-10))  * acc_boost
profit_low = (int(len(lowest_income) * 0.05) * (980-10)) * acc_boost
total_revenue_app1 = profit_high + profit_low
print("Profit of sending promotion to people with high income label: ", profit_high)
print("Profit of sending promotion to people with low income label: ", profit_low)
print("Total revenue: ",total_revenue_app1)

Profit of sending promotion to people with high income label:  271483.72709591564
Profit of sending promotion to people with low income label:  556584.1928549494
Total revenue:  828067.919950865

#### Best Case : Expected Revenue : Approach 2

In approach 2, we expect that the 5% of the low income labeled people have actually a low income.

In [40]:
profit_high = (int(len(highest_income) * 0.10) * (980-10)) * acc_boost
profit_low = (int(len(lowest_income) * 0.05) * (-310-10)) * acc_boost
total_revenue_app2 = profit_high + profit_low
print("Profit of sending promotion to people with high income label: ", profit_high)
print("Profit of sending promotion to people with low income label: ", profit_low)
print("Total revenue: ",total_revenue_app2)

Profit of sending promotion to people with high income label:  271483.72709591564
Profit of sending promotion to people with low income label:  -183615.40382843692
Total revenue:  87868.32326747873

#### Best Case : Average Revenue : Approach 1 + Approach 2

In [41]:
best_total_average_revenue = (total_revenue_app1 + total_revenue_app2) / 2
print("Best total average revenue: ", best_total_average_revenue)

Best total average revenue:  457968.12160917185

### Worst Case Revenue

#### Worst Case : Expected Revenue : Approach 1

In [42]:
profit_high = (int(len(highest_income) * 0.10 * 0.10) * (980-10))  * acc_boost
profit_low = (int(len(lowest_income) * 0.05 * 0.05) * (980-10)) * acc_boost
total_revenue_app1 = profit_high + profit_low
print("Profit of sending promotion to people with high income label: ", profit_high)
print("Profit of sending promotion to people with low income label: ", profit_low)
print("Total revenue: ",total_revenue_app1)

Profit of sending promotion to people with high income label:  26382.431159791176
Profit of sending promotion to people with low income label:  27233.477326236054
Total revenue:  53615.90848602723

#### Worst Case : Expected Revenue : Approach 2

In [43]:
profit_high = (int(len(highest_income) * 0.10 * 0.10) * (980-10)) * acc_boost
profit_low = (int(len(lowest_income) * 0.05 * 0.05) * (-310-10)) * acc_boost
total_revenue_app2 = profit_high + profit_low
print("Profit of sending promotion to people with high income label: ", profit_high)
print("Profit of sending promotion to people with low income label: ", profit_low)
print("Total revenue: ",total_revenue_app2)

Profit of sending promotion to people with high income label:  26382.431159791176
Profit of sending promotion to people with low income label:  -8984.239942675811
Total revenue:  17398.191217115367

#### Worst Case : Average Revenue : Approach 1 + Approach 2

In [44]:
worst_total_average_revenue = (total_revenue_app1 + total_revenue_app2) / 2
print("Worst total average revenue: ", worst_total_average_revenue)

Worst total average revenue:  35507.0498515713

### Overall Average Revenue

In [46]:
overall_total_average_revenue = (worst_total_average_revenue + best_total_average_revenue) / 2
print("Worst total average revenue: ", overall_total_average_revenue)

Worst total average revenue:  246737.5857303716

## ID's of people to send promotion

In [47]:
total_potential_customers_high = int(len(highest_income) * 0.10)
total_potential_customers_low = int(len(lowest_income) * 0.05)

ids = ""

id_high = 0
id_low = 0

#First take all the people where the label of high income has the highest probability of correctness
#Sort array in descending order
array_potential_customers = sorted(array_potential_customers, key=lambda x: x['prob'], reverse=True)     

for i in range(len(array_potential_customers)):
    if id_high < total_potential_customers_high and array_potential_customers[i]['label'] == '>50K':
        ids += array_potential_customers[i]['id'] + '\n'
        id_high += 1

#Second take all the people where the label of low income has the lowest probability of correctness
#Sort array in ascending order
array_potential_customers = sorted(array_potential_customers, key=lambda x: x['prob'])     

for i in range(len(array_potential_customers)):
    if id_low < total_potential_customers_low and array_potential_customers[i]['label'] == '<=50K':
        ids += array_potential_customers[i]['id'] + '\n'
        id_low += 1
        
file = open('selection.txt','w') 
 
file.write(ids) 
file.close()